{% extends "base.html" %}

{% block main %}
<h1>Add Profile</h1>
<div class = 'cont'>
    <form action = "{{url_for('newProfile')}}", method = "POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        
      <div class="form-group col-md->         
       {{ form.first_name.label }}
        {% for message in form.first_name.errors %}
           <div class="text-danger">{{message}}</div>
           {%endfor%}
       {{ form.first_name(class='form-control', placeholder="First Name")}} 
      </div>
      
      <div class="form-group">         
       {{ form.last_name.label }}
        {% for message in form.last_name.errors %}
           <div class="text-danger">{{message}}</div>
           {%endfor%}
       {{ form.last_name(class='form-control', placeholder="Last Name")}}
       
      </div>
      
      <div class="form-group   
       {{ form.user_name.label }}
        {% for message in form.user_name.errors %}
           <div class="text-danger">{{message}}</div>
           {%endfor%}
       {{ form.user_name(class='form-control', placeholder="First Name")}} 
      </div>
      
      <div class="form-group">         
          {{ form.password.label }}
           {% for message in form.password.errors %}
              <div class="text-danger">{{message}}</div>
              {%endfor%}
          {{ form.password(class='form-control',placeholder="Password")}}  
    
      </div>
      
      <div class="form-group">         
         {{ form.gender.label }} 
          {% for message in form.gender.errors %}
           <div class="text-danger">{{message}}</div>
             <SELECT>
             <OPTION Value="Male">Male</OPTION>
             <OPTION Value="Female">Female</OPTION>
             </SELECT>
           {%endfor%}
         {{ form.gender(class='form-control', placeholder="Select Gender")}}  
         
      <div class="form-group">
        {{ form.email.label }}
        {% for message in form.email.errors %}
              <div class="text-danger">{{message}}</div>
              {%endfor%}
        {{ form.email(class = "form-control", placeholder="eg. myname@example.com")}}
      </div>
      
      <div class="form-group ">         
         {{ form.role.label }} 
          {% for message in form.role.errors %}
           <div class="text-danger">{{message}}</div>
             <SELECT>
             <OPTION Value="Driver">Driver</OPTION>
             <OPTION Value="Commuter">Commuter</OPTION>
             </SELECT>
           {%endfor%}
         {{ form.role(class='form-control', placeholder="Select Role")}}  
      
      <div class="form-group">
        {{ form.photo.label }}
        {{ form.photo(class='form-control') }}
        </div>
      
      <button type="submit" class="btn btn-success btn-block">Add Profile</button>
    </form>
</div>

{% endblock %}